<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="htpt://jshacks.io">jshacks.io</a>
        <div class="footer-menu text-right">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="#challenges">Challenges</a></li>
            <li><a href="#agenda">Agenda</a></li>
            <li><a href="#special_guests">Guests</a></li>
            <li><a href="#mentors">Mentors</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
