<!-- footer Start -->
<footer class="stars">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <a href="htpt://jshacks.io">jshacks.io</a> / <a href="mailto:contact@jshacks.io">contact@jshacks.io</a> 
        <p>TechHub Bucharest, District 2, 39-41 Strada Nicolae Filipescu</p>
      </div>
      <div class="col-md-3">
        <ul class="text-right">
          <a href=""><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
          <a href=""><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
          <a href=""><li><i class="fa fa-github" aria-hidden="true"></i></li></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
