<!-- footer Start -->
<footer class="stars" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <a href="htpt://jshacks.io">jshacks.io</a> / <a href="mailto:contact@jshacks.io">contact@jshacks.io</a> 
        <p>TechHub Bucharest, District 2, 39-41 Strada Nicolae Filipescu</p>
      </div>
      <div class="col-md-3 col-sm-4">
        <ul class="text-right">
          <a href="https://www.facebook.com/events/554913261366690/"><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
          <a href="https://twitter.com/jshacksio"><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
          <a href="https://github.com/js-hacks/"><li><i class="fa fa-github" aria-hidden="true"></i></li></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
